{% extends "client/base.html" %}

{% block content %}
	   <div class="container">
    <TABLE class="table table-hover">
 <h2> liste des Hebergeurs <h2>

 <tr>
 <th>  Nom </th>
 <th> Adresse email </th>
  <th>  lieu hebergement </th>

 
  </tr>
  {% for cl in hebergeur %}
  <tr>
        
        <td>
     {{cl.nom}} 
        </td>
         <td>
          {{cl.email}}

        
         <td>
         {{cl.adresse}}
        </td>
         
           
    </tr>



{%endfor%}


    </table>


{% endblock content %}
