{% extends "client/base.html" %}

{% block content %}
 <div class="container">
   <table class="table-table-hover">
   <h2> Voici le hebergeur : </h2>
   <tr>
   
   <th>Nom</th>
   
   
   <th>Email</th>
   
   <th>lieu hebergement</th>


   </tr>
      
   <tr>
      <tr>
       
        <td>
     {{hebergeur.nom}} 
        </td>
        
         <td>
         {{hebergeur.email}}
        </td>
         
        <td>
            {{hebergeur.adresse}}
        </td>
    </tr>
    </tr>
    
  </table>
 </div>

    

{% endblock content %}
