{% extends "client/base.html" %}

{% block content %}
	   <div class="container">
    <TABLE class="table table-hover">
 <h2> liste des Hebergements <h2>

 <tr>
 <th> Nom Client </th>
 <th>  Nom Hebergeur </th>
 <th> Nom du dommaine </th>
 <th> espaceStockage </th>
 <th> Bande passante  </th>
 <th> espace BD </th>
  <th> Responsable technique </th>
  <th>Email Responsable</th>
  <th>Date debut</th>
    <th>Date Fin</th>
    <th>prix</th>


 
  </tr>
  {% for cl in hebergement %}
  <tr>
        <td>
           {{cl.clientH}}
        </td>
        <td>
     {{cl.hebergeurH}} 
        </td>
         <td>
         {{cl.nomDommaine}}
        </td>
        <td>
         {{cl.espaceStockage}}
        </td>
        
         <td>
         {{cl.bandePassante}}
        </td>
         <td>
            {{cl.espaceBD}}
        </td>
        <td>
            {{cl.responsable}}

        </td>

        <td>
            {{cl.emailRes}}
        </td>
         
        <td>
            
            {{cl.dateDebut}}
        </td>
        <td>
            
            {{cl.dateFin}}
        </td>
        <td>
            
            {{cl.prix}}
        </td>
        
        <td>
            <form action="{% url 'ajouterFacture'  pseudo=cl.id %}" method="POST">
  {% csrf_token %}
  <input class="btn btn-default btn-danger" type="submit" value="Facture"/>
</form>
            
        </td>
    </tr>



{%endfor%}


    </table>


{% endblock content %}
