{% extends "client/base.html" %}

{% block content %}

<div class="container">

<form  action="" method="POST">
  <h1>Entrer un nouveau Hebergement :</h1>
  {% csrf_token %}
  {{ formregister.as_p }}

  
 <button type="submit" class="btn btn-primary btn-lg  "  >  Register Now</button>

</form>

 <h1>{{msg}}</h1>

<h1>{{datev}}</h1>

</div>
{% endblock content %}