
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">

  form {
    width: 70%;
    align-self: : center;
}
</style>
</head>
<body>

 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Syskat </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href=".">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gestion des Clients
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="./afficher">Afficher les clients</a></li>
          <li><a href="./ajouter">Ajouter un client</a></li>
          <li><a href="./chercher">Chercher un client</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gestion des Hebergeur
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="./afficherHeb">Afficher les Hebergeurs</a></li>
          <li><a href="./ajouterHeb">Ajouter un hebergeur</a></li>
          <li><a href="./chercherHeb">Chercher un hebergeur</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Les Domaines
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="./domaine">Ajouter un Domaine</a></li>
          <li><a href="./afficherDomaine">Affiches les Domaines</a></li>
          <li><a href="./domaineExp">Les Domaines Expirees</a> </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gestion d'hebergement 
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="./afficherHebergement">Afficher les Hebergements</a></li>
          <li><a href="./ajouterHebergement">Creer un hebergement</a></li>
           <li><a href="./urgent">Hebergement Expiré  </a></li>
        </ul>
      </li>
      <li><a href="./statistique">statistique</a></li>
      <li><a href="./demande">Gestion des Demandes</a></li>
      <li><a href="./sendMail">sendMail</a></li>
      <li><a href="./deconnexion" >
          <span class="glyphicon glyphicon-log-out"></span> Logout
        </a></li>

    </ul>
  </div>

  
</nav>

    {% block content %}{% endblock content %}

</body>
</html>
