<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">

  form {
    width: 70%;
    align-self: : center;
}
</style>
</head>
<body>


    

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>

{% elif user.is_authenticated and  not user.is_staff %}
<!--    <p>salut  {{ user.username }} </p>
 -->        <meta http-equiv="REFRESH" content="0;url={{ './user' }}"  >

{% elif user.is_authenticated and user.is_staff %}
 

     <meta http-equiv="REFRESH" content="0;url={{ '.' }}">

 


{% else %}
<h1>Se connecter</h1>
<form  action="" method="POST"  class="form-horizontal">
  
  {% csrf_token %}
  {{ formregister.as_p }}
 <button type="submit" class="btn btn-primary btn-lg  "  >  Se connecter</button>

</form>

{% endif %}
</body>
</html>


