{% extends "client/base.html" %}

{% block content %}
  {% for demande in demandes %}
  
  
  <div class="container">
  <div class="jumbotron">
    <a href="#" class="list-group-item ">  NOM  :{{demande.nom}} </a>
    <a href="#" class="list-group-item ">  Email :{{demande.email}} </a>
    <a href="#" class="list-group-item "> Message :{{demande.comment}} </a>
  </div>
  
</div>

{%endfor%}

  


{% endblock content %}

