
{% extends "client/base.html" %}

{% block content %}
   <div class="jumbotron text-center">
  <h1>App Gestion d'hebergement </h1>
  <p>cette application permet de facilter la gestion d'hebergement de sites ...!</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3> Gestion de client</h3>
      <p>l'ajout , la supression</p>
      <p>affichage, modification ,..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3> 
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    
  </div>
</div>
    
{% endblock content %}