 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

 <html>
     <head>
         <title>Title</title>
         <meta charset="utf-8">
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
             }
             .header {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;  
             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: left !important;
                 /*margin-left: 40%;*/
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }


         </style>
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
     </head>
     <body>
         <div class='wrapper'>
             <div class='header'>
                 <p class='title'> Formulaire d'hebergement  </p>
             </div>
         <div>
         <div class='details'>
             <i>NOM :   {{hebergement.clientH}}</i><br/>
             <i>Numero Tel: 31 31 25 31 </i><br/>
             <i>Email : {{hebergement.emailRes}}</i>  <br/>
             <i>Nom Dommaine :   {{hebergement.nomDommaine}}</i><br/>
             <i>Date Hebergement : {{hebergement.dateDebut}}  </i><br/>
             <i>Date d'expiration : {{hebergement.dateFin}} </i> <br/> 
             <hr class='hrItem' />
         </div>
     </div>
     <div>
         <h1>Engament </h1>
         <p>
            Syskat Technologie s engage a maintenir le service associe aunomdu domaine en ligne durant la periode d hebergement. En cas de probleme de visibilite du domaine sur internet, Syskat Technologies s engage a intervenir dans les soixante-douze (72) heures de la declaration du client.
            Le client est entierement responsable de la mise a jour du contenu du service lie au nom du domaine(Ajout, Modification, Suppression, Publication, …) et Syskat Technologies n assume aucune responsabilite par rapport a ce contenu. 

        </p>

            <h1>Cout d hebergement annuel :</h1>
                <p>
Le client paiera a l avance, a Syskat Technologies un montant forfaitaire de <i>{{hebergement.prix}} <i>ouguiyas , par cheque, par virement ou en espece. 

</p>


<h1>Penalites :</h1>
<p>
Si le clientne renouvelle pas son domaine apres sa date d expiration, il doit supporter les frais supplementaires suivants en sus des frais d hebergement du domaine : 
- Apres cinq (05) jours de retard, le client doit payer une penalite de mille ouguiyas (Dix mille MRO) ;
- Apres dix (10) jours de retard, le client doit payer une penalite de deux mille ouguiyas (Vingt mille MRO) ; 
- Apres quatorze (14) jours de retard, le nom du domaine sera resilie.
</p>
<p>
Les informations sur l hebergement et les autres services de Syskat Technologies sont disponibles aux adresses suivantes : Telephone fixe : (+222) 45 24 48 48 / Telephone mobile et WhatsApp : (+222) 44 24 48 48 
E-mail : contact@syskat.com    / Site web : www.syskat.com
</p>



     </div>
     </body>
 </html>