{% extends "client/base.html" %}

{% block content %}
	   <div class="container">
    <TABLE class="table table-hover">
 <h2> liste des Domaines <h2>

 <tr>
 <th>  Dommain Name </th>
 <th> Hebergeur </th>
 <th>  Prix </th>
 <th>  Date debut </th>
 <th>  Date Expiration </th>

 
  </tr>
  {% for cl in domaine %}
  <tr>
        
        <td>
     {{cl.domaine}} 
        </td>
         <td>
          {{cl.hebergeur}}

        
         <td>
         {{cl.prix}}
        </td>
        <td>
         {{cl.dateDebut}}
        </td>
        <td>
         {{cl.dateFin}}
        </td>
         
           
    </tr>



{%endfor%}


    </table>


{% endblock content %}
