{% extends "client/base.html" %}

{% block content %}
	   <div class="container">
    
  {% for cl in donnees %}

  <ul class="list-group">
  <li class="list-group-item list-group-item-danger"><i>Domain Name</i>  : {{cl.domaine}}</li>
  <li class="list-group-item ">Hebergeur :{{cl.hebergeur}}</li>
  <li class="list-group-item ">Date expiration : {{cl.dateFin}}</li>
  <li class="list-group-item ">Prix : {{cl.prix}}</li>
   <li class="list-group-item ">Penalites : {{cl.penalites}}</li>

</ul>
  
{%endfor%}


  

{% endblock content %}
