{% extends "client/base.html" %}

{% block content %}

<div class="container">

	<div class="list-group">
  		
  		<a href="#" class="list-group-item">Nbre de clients :  {{nbclient}} </a>
  		<a href="#" class="list-group-item">Nbres des domaines :  {{nbdomaine}}</a>
  		<a href="#" class="list-group-item">Nbres des hebergeurs : {{nbhebergeur}}</a>
  		<a href="#" class="list-group-item">Nbres des Hebergements :  {{nbhebergement}} </a>
</div> 



<div class="list-group">
  		
  		<a href="#" class="list-group-item">Dépenses  sur les domaines names :  {{prixDomaine}} </a>
  		<a href="#" class="list-group-item">Dépenses sur l'espace de stockage :  {{prixSt}}</a>
  		<a href="#" class="list-group-item">Revenus  : {{prixHebergement}}</a>
  		<a href="#" class="list-group-item list-group-item-success">Profits :  {{total}} </a>
</div>
</div>
{% endblock content %}