{% extends "client/base.html" %}

{% block content %}

<div class="container">
    <TABLE class="table table-hover">
 <h2> liste des clients <h2>

 <tr>
 <th> Pseudo </th>
 <th>  Nom </th>
 <th> Prenom </th>
 <th> Nom de l'entreprise </th>
 <th> Adresse email </th>
 <th> Numero du telephone </th>
  <th> Numero du whatsapp </th>

 
  </tr>
  {% for cl in client %}
  <tr>
        <td>
           {{cl.pseudo}}
        </td>
        <td>
     {{cl.nom}} 
        </td>
         <td>
         {{cl.prenom}}
        </td>
        <td>
         {{cl.entreprise}}
        </td>
        
         <td>
         {{cl.email}}
        </td>
         <td>
            {{cl.tel}}
        </td>
        <td>
            {{cl.whatsapp}}
        </td>
        <td>
            <form action="{% url 'delete'  pseudo=cl.pseudo %}" method="POST">
  {% csrf_token %}
  <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
</form>
            
        </td>
         
        <td>
            <form action="{% url 'modifier'  pseudo=cl.pseudo %}" method="GET">
  {% csrf_token %}
  <input class="btn btn-default btn-danger" type="submit" value="modifier"/>
</form>

        </td>
    </tr>



{%endfor%}


    </table>

</div>
{% endblock content %}
