{% extends "client/base.html" %}

{% block content %}

<div class="container">
   <form  action="" method="POST">
       <h1>Entrer son pseudonyme :</h1>
  {% csrf_token %}
  {{ formregister.as_p }}
 <button type="submit" class="btn btn-primary btn-block"  >ok</button>
</form>

<h1>{{msg}}</h1>
</div>
{% endblock content %}
    



