{% extends "client/base.html" %}

{% block content %}
 <div class="container">
   <table class="table-table-hover">
   <h2> Voici le client : </h2>
   <tr>
   <th>pseudo</th>
   <th>Nom</th>
   <th>Prenom</th>
   <th>Entreprise</th>
   <th>Email</th>
   <th>TEL</th>
   <th>Whatsapp</th>


   </tr>
      
   <tr>
      <tr>
        <td>
           {{client.pseudo}}
        </td>
        <td>
     {{client.nom}} 
        </td>
         <td>
         {{client.prenom}}
        </td>
        <td>
         {{client.entreprise}}
        </td>
       
         <td>
         {{client.email}}
        </td>
         <td>
            {{client.tel}}
        </td>

        <td>
            {{client.whatsapp}}
        </td>
    </tr>
    </tr>
    
  </table>
 </div>

    

{% endblock content %}
