{% extends "client/base.html" %}

{% block content %}

<h1><a href="{% url 'afficher' %}">{{ok}}</a></h1>
<form  action="" method="POST">
  <h1>Entrer un les informations du client :</h1>
  {% csrf_token %}
  {{ formregister.as_p }}
 <button type="submit" class="btn btn-primary btn-lg  ">Register Now</button>

</form>

 <h1>{{msg}}</h1>
 

{% endblock content %}
